{% extends 'base.html.twig' %}

{% block title %}Kontakty{% endblock %}

{% block body %}
    <h1>
        Kontakty
    </h1>
    {{ include('contact/_form.html.twig') }}
    <table>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    <button onclick="App.modal('{{ contact.note }}')">Poznámka</button>
                    <a href="{{ path('contact_edit', {last_name: contact.lastname}) }}">Editovat</a>
                    <a href="{{ path('contact_remove', {id: contact.id}) }}" onclick="return App.confirm(event,'Opravdu smazat?')">Smazat</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ knp_pagination_render(contacts) }}
{% endblock %}
